// @ts-check
// Docusaurus config file for LIFTI manual

const config = {
  title: 'LIFTI 管理部門マニュアル',
  tagline: 'バックオフィス業務の運用マニュアル',
  url: 'https://yuki-1985.github.io', // GitHub PagesのURL
  baseUrl: '/LIFTI_manual/',          // リポジトリ名に合わせる
  onBrokenLinks: 'throw',
  onBrokenMarkdownLinks: 'warn',
  favicon: 'img/favicon.ico',

  // GitHub Pages にデプロイするための設定
  organizationName: 'yuki-1985', // GitHubのユーザー名や組織名
  projectName: 'LIFTI_manual',   // リポジトリ名

  i18n: {
    defaultLocale: 'ja',
    locales: ['ja'],
  },

  presets: [
    [
      '@docusaurus/preset-classic',
      {
        docs: {
          path: 'docs',
          routeBasePath: '/', // ルートでdocsを表示
          sidebarPath: require.resolve('./sidebars.js'),
          editUrl: undefined, // 編集リンク不要なら undefined
          showLastUpdateAuthor: false,
          showLastUpdateTime: false,
        },
        blog: false, // ブログ機能はオフ
        theme: {
          customCss: require.resolve('./src/css/custom.css'),
        },
      },
    ],
  ],

  themeConfig: {
    navbar: {
      title: 'サービスマニュアル',
      hideOnScroll: true,
      items: [],
    },
    footer: {
      style: 'dark',
      copyright: `Copyright © ${new Date().getFullYear()} LIFTI`,
    },
  },
};

module.exports = config;
