module.exports = {
  title: 'LIFTI 管理部門マニュアル',
  url: 'https://your-org.github.io',
  baseUrl: '/',
  onBrokenLinks: 'throw',
  favicon: 'img/favicon.ico',
  organizationName: 'your-org', // GitHub org/user
  projectName: 'your-repo',     // GitHub repo

  presets: [
    [
      '@docusaurus/preset-classic',
      {
        docs: {
          sidebarPath: require.resolve('./sidebars.js'),
          routeBasePath: '/', // ドキュメントをルートに表示
        },
        theme: {
          customCss: require.resolve('./src/css/custom.css'),
        },
      },
    ],
  ],
};
